@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fefbf3 !important;
}

* {
	font-family: "Ubuntu", sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.container {
	min-height: calc(100vh - 100px);
	position: relative;
}

input[type="checkbox"] {
	position: relative;
	width: 1.5em;
	min-width: 1.5rem;
	height: 1.5em;
	color: #363839;
	border: 1px solid #bdc1c6;
	border-radius: 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	cursor: pointer;
	transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}
input[type="checkbox"]::before {
	position: absolute;
	content: "";
	display: block;
	top: 2px;
	left: 7px;
	width: 8px;
	height: 14px;
	border-style: solid;
	border-color: #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
input[type="checkbox"]:checked {
	color: #fff;
	border-color: #6ecb63;
	background: #6ecb63;
}
input[type="checkbox"]:hover {
	border-color: #b1e693;
	background: #b1e693;
}
input[type="checkbox"]:checked::before,
input[type="checkbox"]:hover::before {
	opacity: 1;
}

.todo-title {
	cursor: pointer;
}

.footer {
	position: absolute;
	bottom: 23px;
	left: 50%;
	transform: translateX(-50%);
}

.text-break {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@media only screen and (max-width: 575px) {
  body {
    background-color: #ffffff !important;
  }
	.container {
		box-shadow: unset !important;
	}
}
